:root {
  --white: #fff;
  --hero-txt: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
}

body {
  min-height: 100vh;
  padding: 2.4em;
  background-image: url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
}

main {
  width: 100%;
  margin-top: 5.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
}

.hero-txt {
  font-size: 3.6rem;
  color: var(--hero-txt);
  line-height: 93%;
  padding: 0 1em;
  margin-bottom: 0.583em;
  font-weight: 700;
}

.hero-sub-txt {
  font-size: 1.8rem;
  color: var(--dark-gray-magenta);
  margin-bottom: 2.167em;
}

.agency-rating-ctnr {
  width: 100%;
  margin-bottom: 3.2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rating-item {
  width: 100%;
  background-color: var(--light-gray-magenta);
  border-radius: 0.8em;
  padding: 1.6em 3em;
  margin-bottom: 1.7em;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  max-width: 445px;
}

.star-container {
  display: flex;
  justify-content: center;
  gap: 0.9em;
  margin-bottom: 1.6em;
}

.rating-txt {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--hero-txt);
}

.testimonials-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimony-item {
  background-color: var(--hero-txt);
  border-radius: 0.8em;
  padding: 3.2em;
  margin-bottom: 1.6em;
  width: 100%;
  max-width: 445px;
}

.user-details {
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  gap: 2.2em;
  margin-bottom: 2.7em;
}

.user-details > img {
  border-radius: 50%;
  max-width: 41px;
  min-width: 41px;
  height: auto;
}

.user-name {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 700;
}

.verified-badge {
  font-size: 1.7rem;
  color: var(--soft-pink);
}

.testimony-txt {
  font-size: 1.7rem;
  color: var(--white);
  text-align: left;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
  }

  main {
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: left; */
    /* margin-top: 0; */
  }

  .top-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    margin-bottom: 7.1em;
  }

  .hero {
    max-width: 70%;
    margin-bottom: 4em;
  }

  .hero-txt {
    font-size: 5.5rem;
    line-height: 88.5%;
    padding: 0 0;
    margin-bottom: 0.455em;
  }
  .hero-sub-txt {
    font-size: 1.8rem;
    line-height: 140%;
    margin-bottom: 0;
    font-weight: 500;
  }
  .agency-rating-ctnr {
    max-width: 445px;
    gap: 1.7em;
    margin-bottom: 0;
  }
  .rating-item {
    padding: 1.6em 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 3.2em;
    flex-direction: row;
    margin-bottom: 0;
  }
  .star-container {
    margin-bottom: 0;
  }
  .testimonials-container {
    gap: 3em;
  }
  .testimony-item {
    margin-bottom: 0;
    max-width: 445px;
  }
}

@media (min-width: 1160px) {
  .testimony-item:nth-of-type(2) {
    transform: translateY(20px);
  }
  .testimony-item:nth-of-type(3) {
    transform: translateY(40px);
  }
  .testimony-item {
    margin-bottom: 0;
    max-width: 350px;
  }
}

@media (min-width: 1200px) {
  main {
    justify-content: space-between;
  }
  .top-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-between;
    margin-bottom: 7.1em;
  }
  .rating-item {
    padding: 2em 3em;
  }
  .hero {
    margin: 0 0;
    max-width: 420px;
    margin-bottom: 0;
    text-align: left;
  }
  /* .testimony-item {
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  } */
}

@media (min-width: 1280px) {
  .rating-item:nth-of-type(1) {
    transform: translateX(-100px);
  }
  .rating-item:nth-of-type(2) {
    transform: translateX(-50px);
  }
}

@keyframes example {
  0% {
    transform: translateY(inherit);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(inherit);
  }
}
